<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="cybs.merchantID" value="sqid_payments_sandbox"/>
    <add key="cybs.keysDirectory" value="D:/sqid/CyberSource"/>
    <add key="cybs.sendToProduction" value="false"/>
    <add key="cybs.sendToAkamai" value="true"/>
    <add key="cybs.enableLog" value="false"/>
    <add key="cybs.logDirectory" value="D:\sqid\CyberSource\log"/>
    <add key="cybs.useSignAndEncrypted" value="false"/>
    <add key="cybs.certificateCacheEnabled" value="true"/>
    <add key="cybs.demo" value="true"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>